<h1>Categories</h1>

<div>
    <% @categories.each do |category| %>
        <div>
            <%= link_to("#{category.name}", category_path(category)) %><br>
            <img src="<%=category.img_url%>"><br>
        </div>
    <% end %>
</div>

<div>
    <%= link_to("Create a new Category", new_category_path) %>
</div>