<h1>Category: <%= @category.name %></h1>

<ul>
    <% @category.products.each do |product| %>
        <li><%= product.name%></li>
    <% end %>

</ul>

<%= link_to("Edit category", edit_category_path(@category)) %><br><br>

<%= link_to "delete", @category, method: :delete,
                                  data: { confirm: "Are you sure?" } %>