<h1><%= @user.name%>'s wishlists</h1>

<div>
    <%= link_to("Create a new wishlist", new_user_wishlist_path(@user)) %>
</div>

<div>
    <ol>
        <% @user_wishlists.each do |wishlist| %>
            <li><%= link_to("#{wishlist.name}", user_wishlist_path(@user, wishlist)) %></li>
        <% end %>
    </ol>
</div>