<h1>Products which qualifies for free shipping</h1>
<h3>FREE DOMESTIC SHIPPING FOR ORDERS OVER $50</h3>

<div class="products-container">
    <%= render partial: "products", locals: {products: @products} %>
</div>