<h1>All products</h1>
<div>
    <%= link_to("Products qualified for Free Shipping (> $50)", free_shipping_products_path) %><br><br>
</div>

<div>
    <%= link_to("Products sorted by price", sort_by_price_products_path) %><br><br>
</div>

<div class="products-container">
    <%= render partial: "products", locals: {products: @products} %>
</div>